In [27]:
import pandas as pd
import matplotlib
import numpy as np

In [28]:
df = pd.read_csv("P6-UK-Bank-Customers.csv")
print(df.describe())

        Customer ID          Age        Balance
count  4.014000e+03  4014.000000    4014.000000
mean   1.696831e+08    38.611111   39766.448274
std    8.865374e+07     9.819121   29859.489192
min    1.000000e+08    15.000000      11.520000
25%    1.000020e+08    31.000000   16115.367500
50%    1.000038e+08    37.000000   33567.330000
75%    2.000031e+08    45.000000   57533.930000
max    4.000038e+08    64.000000  183467.700000

In [36]:
df.loc[:, ['Name', 'Surname']].head(10)

      Name   Surname
0    Simon     Walsh
1  Jasmine    Miller
2     Liam     Brown
3   Trevor      Parr
4  Deirdre   Pullman
5      Ava   Coleman
6  Dorothy   Thomson
7     Lisa      Knox
8     Ruth  Campbell
9  Dominic      Parr

In [42]:
df1 = df['Balance'] > 1000
df1

0        True
1        True
2        True
3        True
4        True
        ...
4009     True
4010     True
4011     True
4012    False
4013     True
Name: Balance, Length: 4014, dtype: bool